* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: grid;
  gap: 50px;
}
.container{
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 50px;
  width: 100%;
  height: 250px;
  grid-template-rows:1fr 1fr 1fr;

}

.left, .center {
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 25%;

}
.center {
  width: 50%;

}

.center a {
  color: white;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: arial;

}

.hero-banner{
  background-color: blanchedalmond;
  height: 100px;


}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

footer{
  position: relative;
  bottom: 0;
  min-width: 100vw;
  padding: 20px;
  background-color: antiquewhite;
  display: block;


}
header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
align-items: center;
background-color: blanchedalmond; 
}
header h1{
  color: blanchedalmond;
  background-color: brown;
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: brown;
  margin-right: 10px;
  background-image: linear-gradient(270deg, brown 0%, brown 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover{
  background-size: 100% 100%;
  color: blanchedalmond;
}

nav a:last-child{
  margin-right: 0;
}

.flex-container{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item{
  border: 5px solid brown;
  background-color: blanchedalmond;
  color: brown;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
} 
.flex-item:first-child{
  min-height: 400px;
  flex-basis: 100%;

}

.hero-banner{
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  border: 0px;
  
}



